@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
    height: 100%;
    width: 100%;
}
.products{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    margin: 20px;
}
.products__card{
    width: 15%;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    border: solid black 2px;
    height: 300px;
    position: relative;
    margin: 10px;
}
.card__image-block{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}
.card__image{
    height: 100%;
}
.card__name{
    font-size: 16px;
    margin-bottom: 10px;

}
.card__meta{
    font-size: 14px;
    color: #a6a6a6;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.card__description{
    padding: 10px;
    height: 50%;
    width: auto;
    height: auto;
    box-sizing: border-box;
    position: relative;
}
.card__cost{
    position: absolute;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
.card__rating{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
.card__rating::after{
    content: "";
    background-image: url("img/star.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 18px;
    height: 18px;
    display: block;

}
.card__cost::after{
    content: "";
    background-image: url("img/rub.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    display: block;
}